@import url('https://css.gg/shopping-cart.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}
body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color:#222 ;
}


h2{
    font-size: 46px;
    line-height: 54px;
    color:#222 ;
}

h4{
    font-size: 20px;
    color:#222 ;
}

h6{
    font-weight: 700;
    font-size: 12px;
 }

p{
    font-size: 20px;
    color: #363636;
    margin: 15px 0 20px 0;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 88px;
    background: #B7C4CF;
    box-shadow: 0 5px 15px rgb(172, 167, 167);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display:flex;
    align-items: center;
    justify-content: end; 
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #EEE3CB;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.dropdown .drop {
  text-decoration: none;
    font-size: 15px;  
    color: #000000;
    margin-bottom: 9px;
    font-weight: 600;
    padding: 0 20px;
  }
  .drop:hover{
    color:#EEE3CB;
      transition: 0.7s;
  }  
.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fffefe;
    min-width: 160px;
  }
  .dropdown-list a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-list a:hover {
    background-color: #EEE3CB;
  }
  .dropdown:hover .dropdown-list {
    display: block;
  }

  /*Footer */ 

  footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right,  #B7C4CF, #B7C4CF, #D2DAFF, #EFEFEF);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 13px;
  }
  
  .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .col {
    flex-basis: 25%;
    padding: 10px;
  }
  
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 15%;
  }
  
  .logo {
    width: 80px;
    margin-bottom: 30px;
  }
  
  .col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
  }
  .col p {
    font-size: 14px;
    color: #ffffff;
  }
  
  .email-id {
    width: fit-content;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin: 20px 0;
    font-size: 18px;
  }
  
  ul li {
    list-style: none;
    margin-bottom: 12px;
  }
  
  ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.4s ease
  }

  ul li a:hover{
    color: #000000;
  }
  
  form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far {
  font-size: 18px;
  margin-right: 10px;
}

  form input {
    width: 100%;
    background: transparent;
    color: #ffffff;
    border: 0;
    outline: none;
  }
  
  form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  
  form button .fas {
    font-size: 16px;
    color: #fff;
  }
  
 
  .faicon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #967E76;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
  }

  .faicon:hover{
    color: #B7C4CF;
  }

  hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgb(255, 232, 232);
    margin: 20px auto;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
    color: #eeeeee;
  }
  
  .underline {
    width: 100%;
    height: 5px;
    background: #fdeeee;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
  }
  
  .underline span {
    width: 15px;
    height: 100%;
    background: rgb(207, 188, 188);
    border: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
  }
  
  @keyframes moving {
    0% {
      left: -20px;
    }
    100% {
      left: 100%;
    }
  }
  
  @media (max-width: 700px) {
    footer {
      bottom: unset;
    }
    .col {
      flex-basis: 100%;
    }
  
    .col:nth-child(2), .col:nth-child(3) {
      flex-basis: 100%;
    }
  }
  